*{
    margin: 0;
    padding: 0;
}

.ultrasound_section{
    
    border-radius: 30px;
}

.ultrasound_section{
    position: relative;
    overflow: hidden;
    }

    /* overlay */
    .ultrasound_section::before{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(270deg, rgba(9, 97, 161, 0) 32.23%, #0961A1 49.44%);
        opacity: 1.5;
        pointer-events: none;
        border-radius: inherit;
        z-index: 1;
    }

    /* ensure content sits above the overlay */
    .ultrasound_section {
        position: relative;
        z-index: 2;
    }


.ultrasound_contant{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.ultrasound_left{
    padding: 60px 30px;
    z-index: 3;
}

.ultrasound_left h1{
    font-family: "Urbanist", sans-serif !important;
    font-size: 40px;
    color: #ffff;
    margin-bottom: 20px;
}

.ultrasound_left p{
    font-family:"DM Sans", sans-serif !important;
    font-size: 18px;
    color: #ffff;
    margin-bottom: 30px;
    line-height: 1.6;
}

.left-btn{
    display: flex;
    gap: 15px;
}

.ultrasound_scan{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(90deg, #ff8c00 0%, #ffb347 100%);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    font-family: "Urbanist", sans-serif !important;
    padding: 10px 20px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(255, 140, 0, 0.3);
}
.ultrasound_scan:hover{
  background: linear-gradient(84.92deg, #FFC180 34.11%, #F98D1B 105.58%);
}


.ultrasound_scan:active{
    transform: scale(0.95);
}

.left-btn button:nth-child(2){
    background: rgba(255, 255, 255, 1);
    color: #F38919;
    box-shadow: 0 3px 8px rgba(52, 172, 224, 0.3);
}

#icon_ultrasound1{
    background: linear-gradient(84.92deg, #F98D1B 34.11%, #FFC180 105.58%);
    color:#fff;
}

.icon_ultrasound{
    background-color:#fff;
    border-radius: 50%;
    padding: 8px;
    color: #F38919;
}

.ultrasound_right{
    height: -webkit-fill-available;
}
.ultrasound_right img{
  height: 100%;
    border-radius: 0 30px 30px 0;
}

@media (max-width:1392px){
  .ultrasound_right img{
    width: 100%;
    height: 425px;
  }

}

@media (max-width:975px) {
    .ultrasound_left h1{
    font-size: 30px;    
  }

  .ultrasound_left p{
    font-size: 16px;
  }
}

@media (max-width:768px){
  .ultrasound_contant{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  } 

  .ultrasound-right img{
    border-radius: 0 0 30px 30px;
    height: none;
  }

  .ultrasound_left .left-btn{
    justify-content: center;
  }

  .ultrasound_contant img{
    width: 100%;
    border-radius: 0 0 30px 30px;
  }

  .icon_ultrasound{
    padding: 4px;
  }

  .ultrasound_scan{
    font-size: 14px;
    padding: 6px 12px;

  }

  .ultrasound_section::before{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, rgba(9, 97, 161, 0) 32.23%, #0961A1 49.44%);
        opacity: 1.5;
        pointer-events: none;
        border-radius: inherit;
        z-index: 1;
    }
}

@media (max-width:480px){
  .ultrasound_left h1{
    font-size: 30px;    
  }

  .ultrasound_left p{
    font-size: 16px;
  }

  .ultrasound_scan{
    font-size: 16px;
    padding: 8px 18px;
  }

  .left-btn{
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }

  .ultrasound_scan{
    font-size: 16px;
    padding: 8px 18px;
  }

}


/* Ultrasound_info_section */

.ultrasound-info-section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
}

.ultrasound-left img {
  width: 430px;
  height: auto;
  border-radius: 14px;
  object-fit: cover;
}

.ultrasound-right {
  background: linear-gradient(131.25deg, rgba(255, 220, 183, 0.4) 0%, rgba(255, 252, 248, 0.4) 58.47%);
  flex: 1;
  padding: 34px;
  border: 1px solid #eeeeee;
  border-radius: 30px;
}

.ultrasound-right h2 {
  font-family: "Urbanist", sans-serif !important;
  font-size: 46px;
  font-weight: 700;
  color: #0961A1;
  margin-bottom: 20px;
  line-height: 1.3;
}

.ultrasound-right h2 span {
  color: #0961A1;
}

.ultrasound-right p {
  font-family:"DM Sans", sans-serif !important;
  font-size: 18px;
  color: #393939;
  line-height: 1.5;
  margin-bottom: 18px;
}

.ct-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(90deg, #ff8c00 0%, #ffb347 100%);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    font-family: "Urbanist", sans-serif !important;
    padding: 10px 20px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 8px rgba(255, 140, 0, 0.3);
}

.ct-btn:active{ 
  transform: scale(0.95);
}


@media (max-width: 900px) {
  .ultrasound-info-section {
    flex-direction: column;
    text-align: center;
    /* padding: 30px 20px; */
  }

  .ultrasound-left img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ultrasound-right {
    padding: 24px;
  }

  .ultrasound-right h2 {
    font-size: 36px;
  }

  .ultrasound-right p {
    font-size: 16px;
  } 
    .ct-btn {
        font-size: 16px;
        padding: 8px 18px;
    }   
}

@media (max-width: 480px) {
  .ultrasound-right h2 {
    font-size: 20px;
  }

  .ultrasound-right p {
    font-size: 16px;
  } 
    .ct-btn {
        font-size: 16px;
        padding: 8px 18px;
    }   
}